@page
@using Microsoft.AspNetCore.Mvc.Localization
@model PrivacyModel
@{
    var msg = Loc["Privacy_Policy"];
    ViewData["Title"] = msg;
    var botOwner = "https://t.me/EvgenyYushko";
}
@inject IViewLocalizer Loc

<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-header bg-secondary text-white text-center py-4">
            <h1 class="display-5">🔒 @msg</h1>
            <p class="mb-0">@Loc["Data_Safe"]</p>
        </div>
        <div class="card-body">
            <h3 class="text-center mb-4">📜 @Loc["Provisions"]</h3>
            <p>@Loc["We_Respect"]</p>
            <hr/>
            <h3 class="text-center mb-4">📂 @Loc["Collect"]</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">🧾 @Loc["Username"]</li>
                <li class="list-group-item">💬 @Loc["Contents"]</li>
                <li class="list-group-item">🌐 @Loc["Metadata"]</li>
            </ul>
            <hr/>
            <h3 class="text-center mb-4">🛡️ @Loc["How_Protect"]</h3>
            <p>@Loc["All_Data"]</p>
            <hr/>
            <h3 class="text-center mb-4">📤 @Loc["Transfer"]</h3>
            <p>@Loc["Your_Data"]</p>
            <hr/>
            <h3 class="text-center mb-4">📞 @Loc["Contacts"]</h3>
            <p>@Loc["Questions"]</p>
        </div>
    </div>
</div>